.arachna .well {
  margin-top: 20px;
}

.arachna .table {
  margin-bottom: 0px;
}

body.arachna {
  padding-top: 40px;
}

.arachna .table>tbody>tr>td {
  border-top: 1px solid #363636;
}

.arachna .table-striped tbody>tr:nth-child(odd)>td {
  background-color: #292929;
}

.arachna table.table>tbody>tr.info>td {
  background-color: #3a87ad;
}

.arachna .table>tbody>tr:nth-child(odd) {
  border-left: 1px solid #363636;
  border-right: 1px solid #363636;
}

.arachna .fronttitle {
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 60px;
  color: rgb(204, 204, 204);
}

