<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Arachna</title>

    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/darkstrap.min.css">
    <link rel="stylesheet" href="/static/custom.css">
  </head>

  <body class="arachna">
   {% include "nav.html" %}
 
   <div class="container">
      <div class="well">
        <h1 class="fronttitle">Arachna</h1>
      </div> 
      <blockquote>
        <p>A crawler of <a href="http://br.spoj.com">br.spoj.com</a> that produces the ranking of all users, ordered by score or number of problems.<br> 
           It was developed during the 3rd annual brazilian Facebook hackathon in 24 hours.</p>
        <small>Bernardo M. Rufino, Felipe V. Y. R. Pereira, Luiz F. M. Ramos</small>
      </blockquote>
   </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
